.container {
    width: 650px;
    height: 1500px;

}

.main {
    padding: 20px;
}

.title {

    background-color: lightseagreen;
    padding: 15px 20px 15px 40px;
    color: white;
    font-weight: bold;
    font-size: 18px;

}

.circle {
    color: lightseagreen;
    font-weight: bold;
}

